[MASTER]
# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-whitelist=pydantic,pydantic_core

# Add files or directories to the blacklist. They should be base names, not paths.
ignore=.venv,venv,node_modules,build,dist,.next,.git

# Add files or directories matching the regex patterns to the blacklist.
ignore-patterns=

# Use multiple processes to speed up Pylint. (0 uses all available CPUs)
jobs=0

# Control the cache directory location
persistent=yes

[REPORTS]
# Set the output format. (text, html, csv, json, colorized)
output-format=colorized

# Tells whether to display a full report or only the messages
reports=no

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
# C0114: Missing module docstring
# C0115: Missing class docstring
# C0116: Missing function or method docstring
# R0903: Too few public methods
disable=C0114,C0115,C0116,R0903

[BASIC]
# Good variable names which should always be accepted, separated by a comma.
good-names=i,j,k,ex,Run,_,id,db,kb,ce,am,wa,ig,px

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

[VARIABLES]
# List of additional names that should be regarded as database/module fields
additional-builtins=

[DESIGN]
# Maximum number of arguments for function / method.
max-args=8

# Maximum number of locals for function / method body.
max-locals=20

# Maximum number of return / yield for function / method body.
max-returns=6

# Maximum number of branch for function / method body.
max-branches=12

# Maximum number of statements in function / method body.
max-statements=50
